<% if user_id_in_session.nil? %>
  <%= button_to "Log In", login_path, method: :get%><br>
  <%= button_to "Create a New User", "/register", method: :get %><br>
<% else %>
  <%= button_to "Discover Movies", discover_path, method: :get%><br>
  <%= button_to "Log Out" %><br>


  <div id="existing_users"> 
  <h4>Existing Users:</h4>
  <% @users.each do |user| %>
    <div><%= user.email %></div>
  <% end %>
</div>
<% end %>